body {
    font-family: 'Concert One', cursive;
    background-color: #F3F3F6

}

h1 {
    text-align: center;
    font-size: 48px
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.button-primary {
    font-family: 'Work Sans', sans-serif;
    background: #FF3366;
    color: #FFDFFD;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.button-primary:hover {
    background-color: #E81E61;
    color: #ffffff;
}

hr{
    width:50%;
    border-top: 1px solid #6E6E6E;
    margin-top: 20px;
}

footer p{
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
}

.image-left {
    margin-right: 5px;
 }